body {
    margin: 0;
  }
img {
    width:100%;
    height:100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    object-fit: cover;
    object-position: 0 30%;
}
.image {
    justify-content: center;
    position: absolute; 
    width:100%; 
    height:100%;
}

#box1 {
    margin-left: 55%;
    margin-top: 30%;
    
}

#box2 {
    margin-left: 55%;
    margin-top: 25%;
}

#box3 {
    margin-left: 45%;
    margin-top: 5%;
}

#box4 {
    margin-left: 40%;
    margin-top: 30%;
}

#box5 {
    margin-left: 40%;
    margin-top: 30%;
}

#box6, #box8 {
    margin-left: 50%;
    margin-top: 33%;
}

#box7 {
    margin-left: 15%;
    margin-top: 35%;
}

#box9 {
    margin-left: 40%;
    margin-top: 5%;
}

#box10 {
    margin-left: 40%;
    margin-top: 5%;
}

#box11 {
    margin-left: 40%;
    margin-top: 5%;
}

#box12 {
    margin-left: 10%;
    margin-top: 2%;
}

#box13, #box14 {
    margin-left: 50%;
    margin-top: 30%;
}


#box15 {
    margin-left: 15%;
    margin-top: 3%;
}

#box16 {
    margin-left: 5%;
    margin-top: 5%;
}

#box17 {
    margin-left: 2%;
    margin-top: 5%;

}

.center-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    position: relative;
    transform: translate(-50%, -50%);
    left:50%;
    top:45%;
}

#headerText {
    position: absolute; 
    width:100%; 
    height:100%;
}

.textbox {
    font-size: 1.3rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    padding: 0 15px 0 15px;
    width: fit-content;
    position: absolute;
    left: 50%; /*translate box to 50% of screen width*/
    bottom: 20px;
    transform: translate(-50%, -50%); /*translate pivot to center of box*/
    animation: fadeIn linear 1s;
    color: black;
    background-color: rgba(191,241,240, 0.9);
    border: 2px solid black;
}

.speechbox {
    font-size: 1.3rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 400px;
    width:fit-content;
    max-width: 600px;
    height:fit-content;
    padding: 30px 30px 30px 40px; 
    display: block;
    position: absolute;
    animation: fadeIn linear 1s;
    color: black;
    background-color: rgba(219, 230, 255, 0.9);
    border: 2px solid black;
}

.item {
    display: block;
    position: absolute;
} 

#camera {
    margin-top: 40px;
    margin-left: -30px;
}


h1 {
    color: white;
    font-size: 3rem;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
  }
  