.transition-fade {
    opacity: 1;
    transition: 500ms;
    transform: translateX(0);
    transform-origin: left;
    
}

html.is-animating .transition-fade {
    opacity: 1;
    transform: translateX(100%);
}

html.is-leaving .transition-fade {
    opacity: 0;
    transform: translateX(0);
}

.transition-swipe {

    transition: 500ms;
    transform: translateY(0);
    
}

html.is-animating .transition-swipe {
 
    transform: translateY(100px);
}

#transition-btn{
    position: relative;
    animation: fadeInAnimation ease 3s;
    left: 100px;
}

#transition-btn2{
  position: relative;
  animation: fadeInAnimation ease 3s;
  left: 250px;
  top: 150px;
}


.slider {
    border-radius: 5px;
    background: #e0e0e0;
    background: linear-gradient(left top, #E0E0E0, #EEEEEE);
    width: 10px;
    height: 100px;
    margin: 25px;
    margin-top: 40px;
    position: absolute;

} 

.slider2 {
  border-radius: 5px;
  background: #000000;
  height: 100px;
  margin: 25px;
  margin-top: 40px;
  position: absolute;
  border-bottom: 1px dashed #000000;
  width: 8px;

} 

  
  .thumb {
    width: 25px;
    height: 25px;
    border-radius: 3px;
    position: relative;
    left: -7px;
    top: 1px;
    background: rgba(0, 0, 255, 0);
    cursor: pointer;
    
  }

  .path {
    border-radius: 5px;
    background: #ffffff;
    width: 20px;
    height: 0px;
    margin: 25px;
    right: -30px;
    margin-top: 0px;
    position: absolute;

}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* Circle */
.circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #7c18aa;
    outline-color: #7c18aa;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .circle:before,
  .circle:after {
    content: ''; 
    position: absolute;
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
    border: 1.5px solid #91126b;
    border-radius: 50%;
  }
  
  
  .circle:before {
    animation: ripple 2s linear infinite;
  }
  
  .circle:after {
    animation: ripple 2s linear 1s infinite;
  }
  
  @keyframes ripple{
    0% { transform: scale(1); }
    50% { transform: scale(1.4); opacity:1; }
    100% { transform: scale(1.8); opacity:0; }
  }
  
  /* Text */
  .text {
    text-align: center;
    vertical-align: middle;
    line-height: 100px;  
    margin: 0;
  }


  /* button 2 */
  .btn2 {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #074928;
    outline-color: #18aa7e;
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .btn2:before,
  .btn2:after {
    content: ''; 
    position: absolute;
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
    border: 0.5px solid #13775e;
    border-radius: 50%;
  }
  
  
  .btn2:before {
    animation: ripple2 3s linear infinite;
  }
  
  .btn2:after {
    animation: ripple2 3s linear 1s infinite;
  }
  
  @keyframes ripple2{
    0% { transform: scale(1); }
    50% { transform: scale(4); opacity:1; }
    100% { transform: scale(8); opacity:0; }
  }



