html{
    scroll-behavior: smooth;
}

body{
    background-image: url('images/scene1BG.png');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    margin: 0;
}

.envelope{
    position: relative;
}

.envelope-closed{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100%;
    position: relative;
}

.envelope-open{
    width: 30%;
    position: fixed;
    top: 10%;
    left: 35%;
    opacity: 0;
}

.letter{
    width: 0%;
    position: fixed;
    top: 5%;
    left: 26%;
}

.main-page{
    position: relative;  
}

.telescope{
    width:100%;
    object-fit:cover;
    position: relative;

}

.zoomBtn{
    position: absolute;
    top: 83%;
    left: 2px;
    width: 10%;
    height: 17%;
    padding: 0;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
    
}

.zoomBtn-img{
    width: 80%;
    border-radius: 50%;
    color: #ffa502;
    box-shadow: 0 0 30px #f5d311;

}

/* .zoomBtn-img:before {
    background: #d35400;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

.zoomBtn-img:hover:before {
    transform: scale(1.2);
    box-shadow: 0 0 15px #d35400;
    filter: blur(3px);
} */

.zoomBtn-img:hover {
    color: #ffa60200;
    box-shadow: 0 0 30px #d3540000;
    
}


#target1 {
    object-fit: cover;
    position: absolute;
    width: 100%;
}

#target2, #target3{
    position: absolute;
    object-fit: cover;
    opacity: 0;
    width: 100%;

}

#bg-cover{
    width: 95%;
    height: 113.5vh;
    border-radius: 5vw;
    background: rgb(7, 7, 7);
    position: absolute;
    opacity: 0%;
}

#box1, #box2, #box3, #box4, #box5 {
    color: black;
    background-color: white;
    border: 2px solid black;
}

.textbox {
    
    font-size: 1.1rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-radius: 5px;
    padding: 0 15px 15px 15px;
    width: 320px;
    height: 40px;
    display: block; 
    /* position: fixed; */
    left: 50%;
    bottom: 20px;
    transform: translate(-200%, -1200%);
    margin: 0 auto;
    position: absolute;
    animation: fadeIn linear 2s;
}

.textbox2 {
    font-size: 1.1rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-radius: 5px;
    padding: 0 15px 15px 15px;
    width: 320px;
    height: 100px;
    display: block; 
    /* position: fixed; */
    left: 50%;
    bottom: 20px;
    transform: translate(-200%, -600%);
    margin: 0 auto;
    position: absolute;
    opacity: 0;
}

.textbox2-animated {
    font-size: 1.1rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-radius: 5px;
    padding: 0 15px 15px 15px;
    width: 320px;
    height: 100px;
    display: block; 
    /* position: fixed; */
    left: 50%;
    bottom: 20px;
    transform: translate(-200%, -600%);
    margin: 0 auto;
    position: absolute;
    animation: fadeIn linear 3s;
    opacity: 1;
}

.textbox3 {
    font-size: 1.1rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-radius: 5px;
    padding: 0 15px 15px 15px;
    width: 320px;
    height: 100px;
    display: block; 
    /* position: fixed; */
    left: 50%;
    bottom: 20px;
    transform: translate(80%, -200%);
    margin: 0 auto;
    position: absolute;
    opacity: 0;
}

.textbox3-animated {
    font-size: 1.1rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-radius: 5px;
    padding: 0 15px 15px 15px;
    width: 320px;
    height: 100px;
    display: block; 
    /* position: fixed; */
    left: 50%;
    bottom: 20px;
    transform: translate(80%, -200%);
    margin: 0 auto;
    position: absolute;
    animation: fadeIn linear 3s;
    opacity: 1;
}



@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.text {
    height: 100%;
    width: 100%;
}

.classname{
    animation: animationZoom 1.2s;
}

.classname2{
    animation-fill-mode: forwards;
    animation: animationFade 1.2s;
}

@keyframes animationZoom {
    0%{
        transform: scale(0.85);
        opacity: 0;
    }

    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes animationFade {
    0%{
        opacity: 1;
        transform: scale(1);
    }


    100%{
        opacity: 0;
        transform: scale(2);
    }
}

/* button 2 */
.btn2 {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #074928;
    outline-color: #18aa7e;
    position: fixed;
    top: 360px;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: none;
  }


.btn2:before,
.btn2:after {
    content: ''; 
    position: absolute;
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
    border: 0.5px solid #13775e;
    border-radius: 50%;
}

.btn2:before {
    animation: ripple2 3s linear infinite;
}

.btn2:after {
    animation: ripple2 3s linear 1s infinite;
}
  
@keyframes ripple2{
    0% { transform: scale(1); }
    50% { transform: scale(4); opacity:1; }
    100% { transform: scale(8); opacity:0; }
}


.logo{
    width: 30%;
    margin-top: 100px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: -15px;

}

.title{
    color: azure;
    text-align: center;
    font-style: normal;
    padding-left: 20px;
    padding-top: 20px;
    font-family:monospace;
    font-weight:50;
    font-size: 20px;
    position: relative;
}

.mouse_scroll {
	display: block;
	margin: 0 auto;
	width: 24px;
	height: 100px;
	margin-top: 50px;
}


.m_scroll_arrows
{
    display: block;

    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);

    border-right: 5px solid white;
    border-bottom: 5px solid white;
    margin: 0 0 3px 4px;

    width: 30px;
    height: 30px;
}


.unu
{
    margin-top: 1px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;

}

.unu
{
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;

    animation-direction: alternate;
    animation-delay: alternate;
}

.doi
{
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;

    animation-delay: .2s;
    animation-direction: alternate;

    margin-top: -6px;
}

.trei
{
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -webkit-animation-direction: alternate;

    animation-delay: .3s;
    animation-direction: alternate;

    margin-top: -6px;
}


@-webkit-keyframes mouse-scroll {

    0%   { opacity: 0;}
    50%  { opacity: .5;}
    100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
}

.start-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    min-width: 160px;
    min-height: 50px;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #ffffff;
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(211, 211, 211, 0.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    margin-top: 50px;
    z-index: 1;
}

.btn::before {
    content: '';
    border-radius: 100px;
    min-width: calc(160px + 12px);
    min-height: calc(50px + 12px);
    border: 4px solid #ffffff;
    box-shadow: 0 0 60px rgba(192, 192, 192, 0.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.btn:hover, .btn:focus {
    color: #313133;
    transform: translateY(-6px);
}

.btn:hover::before, .btn:focus::before {
    opacity: 1;
}

.btn::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 50%;
    border: 6px solid #ffffff;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

.btn:hover::after, .btn:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    100% {
        width: 150px;
        height: 150px;
        opacity: 0;
    }
}

