body {
  margin: 0;
}
img {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  object-fit: cover;
  object-position: 0 30%;
}
.image {
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.zoomBtn {
  position: absolute;
  top: 83%;
  left: 2px;
  width: 10%;
  height: 17%;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
}

.zoomBtn-img {
  width: 80%;
  border-radius: 50%;
  color: #ffa502;
  box-shadow: 0 0 30px #f5d311;
}

.flyer1 {
  position: absolute;
  width: 12%;
  height: 8%;
  transform: translate(455%, 1120%);
  color: #ffa502;
  filter: drop-shadow(0 0 30px #f5d311);
  cursor: pointer;
}

.flyer2 {
  position: absolute;
  width: 12%;
  height: 9%;
  transform: translate(570%, 980%);
  color: #ffa502;
  filter: drop-shadow(0 0 20px #f5d311);
  cursor: pointer;
}

.flyer2:hover,
.flyer1:hover {
  color: #ffa502;
  filter: drop-shadow(0 0 30px #f5d31100);
  cursor: pointer;
}

.tv {
  position: absolute;
  width: 25%;
  height: 25%;
  left: 1100px;
  top: 50px;
  color: #ffa502;
  box-shadow: 0 0 30px #f5d311;
  cursor: pointer;
}

.tv:hover {
  color: #ffa502;
  box-shadow: 0 0 30px #f5d31100;
  cursor: pointer;
}


.popup-travel {
  visibility: hidden;
  position: absolute;
  width: 50%;
  height: 50%;
  left: 25%;
  top: 20%;
}

.yes-button {
  visibility: hidden;
  position: absolute;
  width: 20%;
  height: 12%;
  left: 40%;
  top: 51%;
}

.yes-button:hover {
  cursor: pointer;
}

.back-button {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 1500px;
  top: 60px;
  filter: invert(27%) sepia(91%) saturate(7460%) hue-rotate(357deg)
    brightness(95%) contrast(120%);
}

.back-button:hover {
  color: #ffa502;
  filter: drop-shadow(0 0 30px #f5d311);
  cursor: pointer;
}

.teleport-button {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 1550px;
  top: 700px;
  filter: drop-shadow(0 0 30px #f5d311);
}
.teleport-button:hover {
  filter: drop-shadow(0 0 30px #faf9f4);
  cursor: pointer;
}

/* .next-button {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 1700px;
  top: 300px;
  filter: invert(27%) sepia(91%) saturate(7460%) hue-rotate(357deg)
    brightness(95%) contrast(120%);
}
.next-button:hover {
  color: #ffa502;
  filter: drop-shadow(0 0 30px #f5d311);
  cursor: pointer;
} */

.poster1 {
  visibility: hidden;
  position: absolute;
  width: 400px;
  height: 480px;
  left: 1000px;
  top: 200px;
}

.poster2 {
  visibility: hidden;
  position: absolute;
  width: 400px;
  height: 480px;
  left: 800px;
  top: 200px;
}

.poster1 .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

#box1 {
  color: black;
  background-color: white;
  border: 2px solid black;
}

#box2,
#box3 {
  color: white;
  background-color: black;
  border: 2px solid white;
}

#box4 {
  color: white;
  background-color: black;
  border: 2px solid white;
}
.textbox {
  font-size: 1.1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-radius: 5px;
  padding: 0 15px 15px 15px;
  width: 1000px;
  height: 40px;
  display: block;
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.textbox-reporter {
  font-size: 1.1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-radius: 5px;
  padding: 0 15px 15px 15px;
  width: 1000px;
  height: 40px;
  display: block;
  position: fixed;
  left: 50%;
  bottom: 9px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.speechbox {
  font-size: 1.1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 400px;
  padding: 30px 50px 20px 50px;
  width: 500px;
  height: 120px;
  display: block;
  position: absolute;
  margin-left: 15%;
  margin-top: 30%;
}

.speechbox1 {
  font-size: 1.1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 400px;
  padding: 30px 50px 20px 50px;
  width: 500px;
  height: 120px;
  display: block;
  position: absolute;
  margin-left: 15%;
  margin-top: 38%;
}

.speechbox-henry {
  font-size: 1.1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 400px;
  padding: 30px 50px 20px 50px;
  width: 500px;
  height: 120px;
  display: block;
  position: absolute;
  margin-left: 8%;
  margin-top: 10%;
}

.speechbox-henry2 {
  font-size: 1.1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 400px;
  padding: 30px 50px 20px 50px;
  width: 500px;
  height: 120px;
  display: block;
  position: absolute;
  margin-left: 8%;
  margin-top: 10%;
}

.speechbox-Aeryn {
  font-size: 1.1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 400px;
  padding: 30px 50px 20px 50px;
  width: 500px;
  height: 120px;
  display: block;
  position: absolute;
  margin-left: 10%;
  margin-top: 35%;
}

.text {
  height: 100%;
  width: 100%;
}

.sceneNav {
  z-index: 1;
  margin-right: 0;
  margin-bottom: 0;
  position: absolute;
}
