body {
  margin: 0;
}

.img-bg {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  object-fit: cover;
  object-position: 0 30%;
}

.image {
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.textbox {
  font-size: 1.3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 5px;
  padding: 0 15px 0 15px;
  width: fit-content;
  position: absolute;
  left: 50%; /*translate box to 50% of screen width*/
  bottom: 20px;
  transform: translate(-50%, -50%); /*translate pivot to center of box*/
  animation: fadeIn linear 1s;
  color: black;
  background-color: rgba(191, 241, 240, 0.9);
  border: 2px solid black;
}

.speechbox {
  font-size: 1.3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 400px;
  width: fit-content;
  max-width: 600px;
  height: fit-content;
  padding: 30px 30px 30px 40px;
  display: block;
  position: absolute;
  animation: fadeIn linear 1s;
  color: black;
  background-color: rgba(219, 230, 255, 0.9);
  border: 2px solid black;
}

#box1 {
  top: 10%;
  left: 5%;
}

#box2 {
  bottom: 5%;
  right: 20%;
}

#box3 {
  bottom: 15%;
  left: 30%;
}

#box4 {
  top: 25%;
  left: 5%;
}

.clickable {
  color: #ffa502;
  filter: drop-shadow(0 0 30px #f5d311);
  cursor: pointer;
  z-index: 1;
}

.clickable:hover {
  color: #ffa502;
  filter: drop-shadow(0 0 30px #f5d31100);
  cursor: pointer;
}

.callbtn {
  left: 60%;
  top: 77%;
  filter: drop-shadow(0 0 30px #f5d311);
  cursor: pointer;
}

.callbtn:hover {
  bottom: 10%;
  filter: drop-shadow(0 0 30px #f5d31100);
  cursor: pointer;
}

#rPhone {
  position: absolute;
  max-width: 13%;
  max-height: 13%;
  transform: rotate(50deg);
  left: 25%;
  bottom: 8%;
}

#answer {
  position: absolute;
  max-width: 10%;
  max-height: 10%;
  left: 52%;
  bottom: 8.6%;
}

#aeryn {
  position: absolute;
  max-width: 90%;
  max-height: 90%;
  right: 10%;
  bottom: 0%;
}

#popup3 {
  top: 65%;
}

.popup-travel {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  justify-content: center;
}

.button {
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.yes-button {
  max-width: 20%;
  max-height: 20%;
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
  cursor: pointer;
}

.yes-button:hover {
  margin-top: 10px;
  cursor: pointer;
}

/******** QUIZ ********/
.quiz {
  width: 40%;
  height: 10%;
  display: block;
  position: absolute;
  z-index: 1;
  right: 8%;
  top: 20%;
  animation: fadeIn linear 1s;
}

.quizBox {
  font-size: 1.3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  border: 1px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: #000;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 1);
  padding: 20px;
}

.question {
  margin-bottom: 15px;
  background-color: rgb(255, 255, 255);
}

.quiz button {
  width: 100%;
  height: 100%;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.8);
}

.quiz input {
  text-align: center;
  width: 100px;
  font-size: 20px;
  color: #000;
  font-weight: 300;
}

.quiz button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.quiz button:active {
  transform: scale(0.98);
}

progress {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 2.4;
  width: 16%;
  height: 4.5%;
  position: fixed;
  right: 3%;
  bottom: 80px;
}

progress:after {
  content: attr(value) "%";
}

/******** INVENTORY ********/
.inventory {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}

#inventory-bg {
  max-width: 18%;
  max-height: 18%;
  position: fixed;
  right: 2%;
  bottom: 2.5%;
}

.icons {
  width: 16%;
  height: 8%;
  position: fixed;
  right: 3%;
  bottom: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#map-icon {
  max-height: 78%;
}

#camera-icon {
  max-height: 58%;
  padding-top: 3%;
}

#teleport-icon {
  max-height: 75%;
  padding-top: 1%;
  z-index: 1;
  color: #b45b07;
  filter: drop-shadow(0 0 8px #e4860b);
  cursor: pointer;
}

#teleport-icon2 {
  max-height: 75%;
  padding-top: 1%;
  z-index: 1;
}

#teleport-icon:hover {
  filter: drop-shadow(0 0 30px #faf9f4);
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* button 2 */
#nextBtn1 {
  left: 40%;
}
#nextBtn2 {
  left: 40%;
}

.btn2 {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #000000;
  outline-color: #ffffff;
  position: fixed;
  top: 500px;
  left: 51%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: block;
  z-index: 1;
}

.btn2:before,
.btn2:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 0.5px solid #ffffff;
  border-radius: 50%;
}

.btn2:before {
  animation: ripple2 3s linear infinite;
}

.btn2:after {
  animation: ripple2 3s linear 1s infinite;
}

@keyframes ripple2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(4);
    opacity: 1;
  }
  100% {
    transform: scale(8);
    opacity: 0;
  }
}
