body {
  margin: 0;
}

.img-bg {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  object-fit: cover;
  object-position: 0 30%;
}

.image {
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.zoomBtn {
  position: absolute;
  top: 83%;
  left: 2px;
  width: 10%;
  height: 17%;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
}

.zoomBtn-img {
  width: 80%;
  border-radius: 50%;
  color: #ffa502;
  box-shadow: 0 0 30px #f5d311;
}

.flyer1 {
  position: absolute;
  width: 12%;
  height: 8%;
  left: 60%;
  top: 90%;
  color: #ffa502;
  filter: drop-shadow(0 0 30px #f5d311);
  cursor: pointer;
}

.flyer2 {
  position: absolute;
  width: 12%;
  height: 9%;
  left: 70%;
  top: 90%;
  color: #ffa502;
  filter: drop-shadow(0 0 20px #f5d311);
  cursor: pointer;
}

.flyer2:hover,
.flyer1:hover {
  color: #ffa502;
  filter: drop-shadow(0 0 30px #f5d31100);
  cursor: pointer;
}

.tv {
  position: absolute;
  width: 25%;
  height: 25%;
  left: 60%;
  top: 10%;
  color: #ffa502;
  box-shadow: 0 0 30px #f5d311;
  cursor: pointer;
}

.tv:hover {
  color: #ffa502;
  box-shadow: 0 0 30px #f5d31100;
  cursor: pointer;
}

.popup-travel {
  display: none;
  position: absolute;
  width: 50%;
  left: 25%;
  top: 20%;
}

.yes-button {
  display: none;
  position: absolute;
  width: 20%;
  height: 12%;
  left: 40%;
  top: 50%;
  cursor: pointer;
}

.yes-button:hover {
  margin-top: 10px;
}

.back-button {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 87%;
  top: 8%;
  filter: invert(27%) sepia(91%) saturate(7460%) hue-rotate(357deg)
    brightness(95%) contrast(120%);
}

.back-button:hover {
  color: #ffa502;
  filter: drop-shadow(0 0 30px #f5d311);
  cursor: pointer;
}

.teleport-button {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 1550px;
  top: 700px;
  filter: drop-shadow(0 0 30px #f5d311);
}

.teleport-button:hover {
  filter: drop-shadow(0 0 30px #faf9f4);
  cursor: pointer;
}

/* .next-button {
      position: absolute;
      width: 200px;
      height: 200px;
      left: 1700px;
      top: 300px;
      filter: invert(27%) sepia(91%) saturate(7460%) hue-rotate(357deg)
        brightness(95%) contrast(120%);
    }
    .next-button:hover {
      color: #ffa502;
      filter: drop-shadow(0 0 30px #f5d311);
      cursor: pointer;
    } */

.poster1 {
  visibility: hidden;
  position: absolute;
  width: 400px;
  height: 480px;
  left: 1000px;
  top: 200px;
}

.poster2 {
  visibility: hidden;
  position: absolute;
  width: 400px;
  height: 480px;
  left: 800px;
  top: 200px;
}

.poster1 .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

#box4 {
  color: white;
  background-color: black;
  border: 2px solid white;
}

.textbox {
  font-size: 1.3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 5px;
  padding: 0 15px 0 15px;
  width: fit-content;
  display: block;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  animation: fadeIn linear 1s;
  color: black;
  background-color: rgba(133, 172, 204, 0.9);
  border: 2px solid black;
}

.speechbox {
  font-size: 1.3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 400px;
  width: fit-content;
  max-width: 600px;
  height: fit-content;
  padding: 30px 30px 30px 40px;
  display: block;
  position: absolute;
  margin-left: 15%;
  margin-top: 38%;
  animation: fadeIn linear 1s;
  color: rgb(255, 255, 255);
  background-color: rgba(54, 43, 104, 0.9);
  border: 2px solid black;
}

.speechbox1 {
  font-size: 1.3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 400px;
  width: fit-content;
  max-width: 600px;
  height: fit-content;
  padding: 30px 30px 30px 40px;
  display: block;
  position: absolute;
  margin-left: 15%;
  margin-top: 36%;
  animation: fadeIn linear 1s;
  color: rgb(255, 255, 255);
  background-color: rgba(54, 43, 104, 0.9);
  border: 2px solid black;
}

.speechbox-henry {
  font-size: 1.3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 100px;
  width: fit-content;
  max-width: 600px;
  height: fit-content;
  padding: 20px 20px 20px 30px;
  display: block;
  position: absolute;
  margin-left: 5%;
  margin-top: 25%;
  animation: fadeIn linear 1s;
  color: black;
  background-color: rgba(233, 212, 153, 0.9);
  border: 2px solid black;
}

.speechbox-henry2 {
  font-size: 1.3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 400px;
  width: fit-content;
  max-width: 600px;
  height: fit-content;
  padding: 30px 30px 30px 40px;
  display: block;
  position: absolute;
  margin-left: 8%;
  margin-top: 10%;
  animation: fadeIn linear 1s;
  color: black;
  background-color: rgba(233, 212, 153, 0.9);
  border: 2px solid black;
}

.speechbox-reporter {
  font-size: 1.3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 400px;
  width: fit-content;
  max-width: 600px;
  height: fit-content;
  padding: 30px 30px 30px 40px;
  display: block;
  position: absolute;
  left: 75%;
  bottom: 70px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  animation: fadeIn linear 1s;
  color: black;
  background-color: rgba(171, 161, 228, 0.9);
  border: 2px solid black;
}

.speechbox-Aeryn {
  font-size: 1.3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 400px;
  width: fit-content;
  max-width: 600px;
  height: fit-content;
  padding: 30px 30px 30px 40px;
  display: block;
  position: absolute;
  margin-left: 10%;
  margin-top: 35%;
  animation: fadeIn linear 1s;
  color: rgb(255, 255, 255);
  background-color: rgba(63, 114, 148, 0.9);
  border: 2px solid black;
}

.text {
  height: 100%;
  width: 100%;
}

.sceneNav {
  z-index: 1;
  margin-right: 0;
  margin-bottom: 0;
  position: absolute;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* button 2 */
.btn2 {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #000000;
  outline-color: #ffffff;
  position: fixed;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.btn2:before,
.btn2:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 0.5px solid #ffffff;
  border-radius: 50%;
}

.btn2:before {
  animation: ripple2 3s linear infinite;
}

.btn2:after {
  animation: ripple2 3s linear 1s infinite;
}

@keyframes ripple2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(4);
    opacity: 1;
  }
  100% {
    transform: scale(8);
    opacity: 0;
  }
}

.inventory {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  animation: fadeIn linear 1s;
}

#inventory-bg {
  max-width: 18%;
  max-height: 18%;
  position: fixed;
  right: 2%;
  bottom: 2%;
}

.icons {
  width: 16%;
  height: 8%;
  position: fixed;
  right: 3%;
  bottom: 2%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.icon:hover {
  transform: translateY(5px);
  cursor: pointer;
}

#map-icon {
  /* max-height: 78%; */
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}

#camera-icon {
  /* max-height: 48%;
    padding-top: 3%; */
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}

#app-icon {
  max-height: 75%;
  padding-top: 1%;
  color: #b45b07;
  filter: drop-shadow(0 0 8px #e4860b);
  cursor: pointer;
}

#app-icon:hover {
  color: #b45b0700;
  filter: drop-shadow(0 0 8px #e4860b00);
}

.lock {
  max-height: 78%;
}