.sec1{
    background-color: rebeccapurple;
    height: 100vh;
    overflow: hidden;
}

.sec2{
    height: 370vh;
    top: -10%;
    overflow: hidden;
    position: relative;
}

body{
    margin: 0;
    overflow-x: hidden;
}

.img-bg {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    object-fit: cover;
    object-position: 0 30%;
}

.image {
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image1, .image2, .image3, .image4, .image5, .image6 {
    top: 25%;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
}

.image7, .image8, .image9, .image7-2{
    top:100%;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
}

.image11{
    top: -1%;
    position: absolute;
    width: 90%;
    left: 6%;
}

.image14, .image15, .image16, .image17{
    position: absolute;
    width: 100%;
    left: 0%;
    top: 5%;
}

.image-coral{
    width: 25%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    display: block;
    object-fit: cover;
    top: 84.7%;
    bottom: 0%;
    left: 0%;
}

.image-coral2{
    width: 10%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    display: block;
    object-fit: cover;
    top: 84.7%;
    bottom: 0%;
    left: 45%;
}

.image-coral3{
    width: 25%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    display: block;
    object-fit: cover;
    top: 84.7%;
    bottom: 0%;
    right: 0%;
}

.image13{
    position: absolute;
    width: 60%;
    left: -55%;
    margin-top: 100%;
    top: 0%;
}

.image19{
    position: absolute;
    width: 20%;
    left: 120%;
    margin-top: 100%;
    top: 0%;
}

.image18{
    width: 13%;
    position: absolute;
    left: -10%;
    margin-top: 120%;
    top: 0%;
}

#path{
    position: absolute;
    left: 0%;
    margin-top: 95%;
    top: 0%;
    /* margin-left: auto;
    margin-right: auto;
    margin-top: auto; */
}

#path2{
    position: absolute;
    left: 0%;
    margin-top: 100%;
    top: 0%;
    /* margin-left: auto;
    margin-right: auto;
    margin-top: auto; */
}

progress {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2.1;
    width: 16%;
    height: 4vh;
    position: fixed;
    right: 3%;
    top: 87%;
  }
  
  @media (max-height: 765px) {
    progress {
      text-align: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      line-height: 1.8;
      width: 16%;
      height: 4vh;
      position: fixed;
      right: 3%;
      top: 87%;
    }
  }
  
  @media (max-height: 665px) {
    progress {
      text-align: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      line-height: 1.5;
      width: 16%;
      height: 4vh;
      position: fixed;
      right: 3%;
      top: 87%;
    }
  }
  
  progress:after {
    content: attr(value) "%";
    font-size: 2vh;
  }

.notif > p {
    font-size: 1.8vh;
    color: black;
    text-shadow:  1px 1px 2px rgb(255, 255, 255);
    padding: 5px;
    text-align: center;
    font-weight: bold;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.notif {
    bottom: 15%;
    right: 9%;
    background-color: #ffffff;
    border-radius: 6px;
    width: fit-content;
    position: fixed;
    animation: pop 2s ease-Out;
    z-index: 20;
}


.inventory {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    animation: fadeIn linear 1s;
    z-index: 2;
}

#inventory-bg {
    max-width: 18%;
    max-height: 18%;
    position: fixed;
    right: 2%;
    bottom: 2%;
}

.icons {
    width: 16%;
    height: 8%;
    position: fixed;
    right: 3%;
    bottom: 2%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#map-icon {
    max-height: 78%;
    cursor: auto;
    filter: grayscale(100%);
}

#camera-icon {
    max-height: 58%;
    padding-top: 3%;
    cursor: auto;
    filter: grayscale(100%);
}

#camera-icon:hover{
    transform: translateY(0px);
}

#teleport-icon {
    max-height: 75%;
    padding-top: 1%;
}

#teleport-icon:hover{
    transform: translateY(0px);
}

#teleport-icon:hover{
    color: #b45b0700;
    filter: drop-shadow(0 0 8px #e4860b00);
}

.lock {
    max-height: 78%;
}

#icon-glow {
    max-height: 60%;
    padding-top: 3%;
    color: #b45b07;
    filter: drop-shadow(0 0 8px #e4860b);
    cursor: pointer; 
}

#icon-glow:hover {
    filter: drop-shadow(0 0 30px #faf9f4);
    cursor: pointer;
    transform: translateY(5px);
}

#icon-glow2 {
    max-height: 78%;
    color: #b45b07;
    filter: drop-shadow(0 0 8px #e4860b);
    cursor: pointer; 
}

#icon-glow2:hover {
    filter: drop-shadow(0 0 30px #faf9f4);
    cursor: pointer;
    transform: translateY(5px);
}

#box1{
    left: 3%;
    top: 40%;
}

#box2 {
    right: 10%;
    bottom: 30%;
}

.speechbox {
    font-size: 1.3rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 400px;
    width:fit-content;
    max-width: 600px;
    height:fit-content;
    padding: 30px 30px 30px 40px; 
    display: block;
    position: fixed;
    animation: fadeIn linear 1s;
    color: rgb(0, 0, 0);
    background-color: rgba(176, 228, 236, 0.9);
    border: 2px solid black;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}


/* button 2 */
.trans-btn {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #000000;
    outline-color: #ffffff;
    position: fixed;
    top: 500px;
    left: 51%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: block;
}


.trans-btn:before,
.trans-btn:after {
    content: ''; 
    position: absolute;
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
    border: 0.5px solid #ffffff;
    border-radius: 50%;
}

.trans-btn:before {
    animation: ripple2 3s linear infinite;
}

.trans-btn:after {
    animation: ripple2 3s linear 1s infinite;
}

@keyframes ripple2{
    0% { transform: scale(1); }
    50% { transform: scale(4); opacity:1; }
    100% { transform: scale(8); opacity:0; }
}

.clickable {
    color: #fffb02;
    filter: drop-shadow(0 0 30px #fad507);
    cursor: pointer;
    z-index: 1;
}

.clickable:hover {
    color: #ffa60207;
    filter: drop-shadow(0 0 30px #f5d31100);
}


a{
    cursor: pointer;
}

.scroll-indicator{
    position: absolute;
    top: 35%;
    left: 45%;
}

.scroll {
    width: 45px; 
    height: 80px;
    left: 33%;
    border: 3.8px solid rgba(9, 51, 141, 0.904); 
    border-radius: 50px; 
    position: relative;
}

.scroll:before {
    content: ""; 
    position: absolute;
    width: 15px; 
    height: 15px;
    background: rgba(26, 115, 199, 0.904); 
    margin: auto;
    left: 0; 
    right: 0;
    top: 30px; 
    border-radius: 50%;
    animation: animate 1s linear infinite; 
}

@keyframes animate {
    0% {
    opacity: 1; top: 5px;
    }
    100% {
    opacity: 0; top: 65px;
    transform: scale(0.8);
    }
}

.scroll-text{
    font-size: 1.8rem;
    font-weight: 700;
    font-family: SpectralSC-SemiBold;
    color: rgba(9, 51, 141, 0.904);
    cursor:default;
}

.camera-capture{
    position: fixed;
    top: 50%;
    left: 10%;
    left: var(--mouse-x);
    top: var(--mouse-y);
    transform-origin: center;
    transform: scale(0.5, 0.5)

}

.cam_container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 2;
}

#icon-glow {
    max-height: 60%;
    padding-top: 3%;
    color: #b45b07;
    filter: drop-shadow(0 0 8px #e4860b);
    cursor: pointer; 
}

#icon-glow:hover {
    filter: drop-shadow(0 0 30px #faf9f4);
    cursor: pointer;
    transform: translateY(5px);
}

.reef-counter{
    position: fixed;
    top: 5%;
    left: 2%;
    border-radius: 50px;
    box-shadow: 6px 5px #b9b9b97e;
    
}

#fact1{
    top: 75%;
    left: 68%;
}

#fact2{
    top: 80%;
    left: 20%;
    
}

#fact3{
    top: 93.5%;
    left: 25%;
}

.btn-text {
    max-width: 0;
    display: inline-block;
    -webkit-transition: color .25s 1.5s, max-width 2s;
    transition: color .25s 1.5s, max-width 2s;
    -webkit-transition: color .25s 1.5s, max-height 2s;
    transition: color .25s 1.5s, max-height 2s;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    color: rgb(2, 2, 2);
}

button:hover .btn-text {
    width:fit-content;
    max-width: 500px;
    height:fit-content;
    white-space: normal;
    color: rgb(0, 0, 0);
}

button .info-icon{
    width: 40px;
    padding-left: 6px;
    padding-top: 6px;
}

button:hover .info-icon {
    display: none;
}

.factBox {
    font-size: 1.05rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0); 
    font-weight: 500;
    line-height: 1.4;
    box-shadow: rgba(0, 0, 0, 0) 0px 3px 8px;
    color: #000;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.897);
    padding: 10px;
    position: absolute;
    width:fit-content;
    max-width: 500px;
    height:fit-content;
    z-index: 2;
}

.factBox:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgba(255, 255, 255, 0.925);
    border-radius: 20px;
    padding: 20px;
}

.fact {
    margin-bottom: 15px;
    background-color:rgb(255, 255, 255);
    top: 45%;
    left: 60%;
    z-index: 10;
    position:fixed;
}

.gameText{
    position: fixed;
    top: 35%;
    left: 43%;
    font-size: 2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: 600;
    transform: rotate(-3deg);
    z-index: 4;
}

.fadeOut{
    position: fixed;
    top: 35%;
    left: 43%;
    font-size: 2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: 600;
    transform: rotate(-3deg);
    z-index: 4;
    animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

.output{
    position: fixed;
    transform: scale(1.2, 1.2);
    transform: rotate(-10deg);
    top: 25%;
    left: 35%;
    animation-name: slideDown;
    animation-duration: 1.5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;

}

@keyframes slideDown {
    from {top: 25%; }
    to {top: 110%; }
}

@keyframes pop {
    0% {
      transform: translateY(100%);
      opacity: 100%;
    }
  
    20% {
      transform: translateY(0%);
    }
  
    50% {
      opacity: 100%;
    }
  
    100% {
      opacity: 0%;
    }
}

#exp{
    color: rgb(255, 255, 255);
    background-color: rgba(70, 70, 70, 0.801);
    right: 2%;
    bottom: 16%;
}

.explanation {
    font-size: 1.1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    width:fit-content;
    line-height: 25px;
    max-width: 400px;
    height:fit-content;
    padding: 10px 10px 10px 20px; 
    display: block;
    position: fixed;
    animation: fadeIn linear 1s;
}

@media (min-height: 900px) {
    #fact1 {
    top: 80%;
    left: 65%;
    bottom: 0%;
    }

    #fact2 {
    top: 82%;
    left: 18%;
    bottom: 0%;
    }

    #fact3{
    top: 88%;
    left: 30%;
    bottom: 0%;
    }


}

@media (min-height: 780px) and (max-height: 840px) {

    #fact1{
        top: 80%;
        left: 65%;
    }
    
    #fact2{
        top: 85%;
        left: 20%;
        
    }
    
    #fact3{
        top: 93%;
        left: 45%;
    }


}

@media (min-height: 680px) and (max-height: 779px) {
    #fact1 {
        top: 75%;
        left: 60%;
    }

    #fact2 {
        top: 80%;
        left: 15%;
    }

    #fact3{
        top: 93%;
        left: 45%;
    }


}

@media (max-height: 679px) {
    #fact1 {
        top: 72%;
        left: 55%;
    }

    #fact2 {
        top: 77%;
        left: 15%;
    }

    #fact3{
        top: 92%;
        left: 45%;
    }
}

#loading {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

#loading-image {
    z-index: 100;
    width: 30%;
    margin-bottom: 8%;
}

#loading-bg{
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.93;
}

.loading-txt{
    font-size: 2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: 500;
    line-height: 1.4;
    color: rgb(255, 255, 255);
    position: absolute;
    z-index: 1;
    top: 60%;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: black;
    /* box-shadow: 3px 3px 3px #c7c7c7; */
    transition-duration: .25s;
}