body {
    margin: 0;
}

.img-bg {
    width:100%;
    height:100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    object-fit: cover;
    object-position: 0 30%;
}

.image {
    justify-content: center;
    position: absolute; 
    width:100%; 
    height:100%;
}

#box2 {
    color: white;
    background-color: rgb(142, 52, 216);
    border: 2px solid white;
}

#box3, #box4 {
    color: white;
    background-color: rgb(29, 170, 189);
    border: 2px solid white;
}

.textbox {  
    font-size: 1.3rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    padding: 0 15px 0 15px;
    width: fit-content;
    position: absolute;
    left: 50%; /*translate box to 50% of screen width*/
    bottom: 20px;
    transform: translate(-50%, -50%); /*translate pivot to center of box*/
    animation: fadeIn linear 1s;
    color: black;
    background-color: rgba(221, 191, 241, 0.9);
    border: 2px solid black;
    margin: 0 auto;
}

.speechbox {
    font-size: 1.3rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 400px;
    width:fit-content;
    max-width: 600px;
    height:fit-content;
    padding: 30px 30px 30px 40px; 
    display: block;
    position: absolute;
    margin-left: 15%;
    margin-top: 30%;
    animation: fadeIn linear 1s;
}


#yes_button{
    width: 25%;
    display: none; 
    transform: translate(143%, -270%);
    position: absolute;
    animation: fadeIn linear 1s;
    padding: 0;
    cursor: pointer;
    margin: 0;
}

#yes_button:hover{
    margin-top:10px;
}

#modal{
    top: -40px;
    left: 0%;
    position: relative;
    width: 100%;
    display: none;
}

#box3 {
    padding: 30px 70px 30px 70px;
    margin-top: 28.5%;

}

.text {
    height: 100%;
    width: 100%;
}

.sceneNav {
    z-index:1;
    margin-right:0;
    margin-bottom:0;
    position: absolute;
}

@keyframes travel{
	0%{
        transform:  rotate(0deg) scale(1, 1) translate(0px, 0px) ; 
        /*rotate(0deg) ;*/
    } 

	100%{
        transform:  rotate(10deg) scale(10, 10) translate(-300px, 50px) ;
        /*rotate(360deg) ;*/
        
    }
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

#bg5{
    animation-name:travel;
    animation-duration:3s;
    display: inline-block; 
    overflow: hidden;
}

audio{
    position:fixed;
    display:inline;
}

#box4{
    margin-left: 55%;
    margin-top: 25%;
}

/* button 2 */
.btn2 {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #000000;
    outline-color: #ffffff;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;

}

.btn2:before,
.btn2:after {
    content: ''; 
    position: absolute;
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
    border: 0.5px solid #ffffff;
    border-radius: 50%;
}

.btn2:before {
    animation: ripple2 3s linear infinite;
}

.btn2:after {
    animation: ripple2 3s linear 1s infinite;
}

@keyframes ripple2{
    0% { transform: scale(1); }
    50% { transform: scale(4); opacity:1; }
    100% { transform: scale(8); opacity:0; }
}

.inventory {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    animation: fadeIn linear 1s;
}

#inventory-bg {
    max-width: 18%;
    max-height: 18%;
    position: fixed;
    right: 2%;
    bottom: 2%;
}

.icons {
    width: 16%;
    height: 8%;
    position: fixed;
    right: 3%;
    bottom: 2%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.icon:hover{
    transform: translateY(5px);
    cursor: pointer;
}

#map-icon {
    max-height: 78%;
}

#camera-icon {
    max-height: 58%;
    padding-top: 3%;
}

#app-icon {
    max-height: 75%;
    padding-top: 1%;
    color: #b45b07;
    filter: drop-shadow(0 0 8px #e4860b);
    cursor: pointer;
}

#app-icon:hover{
    color: #b45b0700;
    filter: drop-shadow(0 0 8px #e4860b00);
}

.lock {
    max-height: 78%;
}

/*CHANGE NAME FEATURE*/
.dullBg{
    position: absolute;
    width: 100%;
    height: 100vh;
}

.nameModal{
    position: absolute;
    width: 80%;
    top: 16.5%;
    left: 10%;
    
}

.characterIcon{
    width: 100%;
    position: absolute;
    transform-origin: center;
}

.setName{
    width: 15%;
    position: absolute;
    cursor: pointer;
    top: 68%;
    left: 42%;
}

.setName:hover{
    top: 69%;
}

.skipBtn{
    width: 15%;
    position: absolute;
    cursor: pointer;
    top: 79%;
    left: 42%;
}

.skipBtn:hover{
    top: 80%;
}

#form{
    position:absolute;
    left: 37.7%;
    top: 56%;
    height: 10%;
    width: 30%;
    
}

#myInput{
    width: 70%;
    height: 35%;
    font-size: large;
    padding: 8px 20px;
    border: 3px solid rgb(50, 255, 245);
    border-radius: 10px;
    background-color: hsl(180, 77%, 88%);
}