body {
    margin: 0;
}

.img-bg {
    width:100%;
    height:100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    object-fit: cover;
    object-position: 0 30%;
}

.image {
    justify-content: center;
    position: absolute; 
    width:100%; 
    height:100%;
}

#box1 {
    right: 20%;
    bottom: 10%;
}

#box2 {
    right: 3%;
    top: 40%;
}

#box3 {
    right: 15%;
    bottom: 10%;
}

#box4 {
    right: 5%;
    top: 20%;
}

#box5 {
    right: 15%;
    bottom: 10%;
}

#box6, #box8 {
    bottom: 5%;
    right: 10%;
}

#box7 {
    bottom: 7%;
    left: 10%;;
}

#box9, #box10, #box11, #box13, #box14, #box16 {
    left: 3%;
    bottom: 15%;
}

#box12, #box15 {
    right: 5%;
    bottom: 5%;
}

#box17 {
    left: 3%;
    bottom: 12%;
}

.center-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    position: relative;
    transform: translate(-50%, -50%);
    left:50%;
    top:45%;
}

#headerText {
    position: absolute; 
    width:100%; 
    height:100%;
}

.textbox {
    font-size: 1.3rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    padding: 0 15px 0 15px;
    width: fit-content;
    position: absolute;
    left: 50%; /*translate box to 50% of screen width*/
    bottom: 20px;
    transform: translate(-50%, -50%); /*translate pivot to center of box*/
    animation: fadeIn linear 1s;
    color: black;
    background-color: rgba(191,241,240, 0.9);
    border: 2px solid black;
}

.speechbox {
    font-size: 1.3rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 400px;
    width:fit-content;
    max-width: 600px;
    height:fit-content;
    padding: 30px 30px 30px 40px; 
    display: block;
    position: absolute;
    animation: fadeIn linear 1s;
    color: black;
    background-color: rgba(219, 230, 255, 0.9);
    border: 2px solid black;
}

#items {
    width:100%;
    height:100%;
    display: block;
    position: absolute;
    
} 

#camera {
    max-width: 15%;
    max-height: 15%;
    position: fixed;
    right: 25%;
    bottom: 15%;
    z-index: 1;
}

#map {
    max-width: 35%;
    max-height: 35%;
    position: fixed;
    left: 18%;
    bottom: 5%;
    z-index: 1;
}

.inventory {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
}

#inventory-bg {
    max-width: 18%;
    max-height: 18%;
    position: fixed;
    right: 2%;
    bottom: 2%;
}

.icons {
    width: 16%;
    height: 8%;
    position: fixed;
    right: 3%;
    bottom: 2%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.icon:hover{
    transform: translateY(5px);
    cursor: pointer;
}

#map-icon {
    max-height: 78%;
    cursor: pointer;
}

#camera-icon {
    max-height: 58%;
    padding-top: 3%;
}

#teleport-icon {
    max-height: 75%;
    padding-top: 1%;
}

.lock {
   max-height: 78%;
}  

h1 {
    color: white;
    font-size: 3rem;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

 /* button 2 */
.btn2 {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #000000;
    outline-color: #ffffff;
    position: fixed;
    top: 500px;
    left: 51%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: block;
}


.btn2:before,
.btn2:after {
    content: ''; 
    position: absolute;
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
    border: 0.5px solid #ffffff;
    border-radius: 50%;
}

.btn2:before {
    animation: ripple2 3s linear infinite;
}

.btn2:after {
    animation: ripple2 3s linear 1s infinite;
}

@keyframes ripple2{
    0% { transform: scale(1); }
    50% { transform: scale(4); opacity:1; }
    100% { transform: scale(8); opacity:0; }
}

.clickable {
    color: #ffa502;
    filter: drop-shadow(0 0 20px #f5d311);
    cursor: pointer;
    z-index: 1;
}

.clickable:hover {
    color: #ffa60207;
    filter: drop-shadow(0 0 20px #f5d31100);
}

.explained {
    visibility: hidden;
    bottom: 13%;
    width: 25%;
    height: 25%;
    right: 0%;
    position: fixed;
    display: flex;
}