body{
    background-color: #333F4C;
    margin: 0;
    /* -ms-overflow-style: none;  for Internet Explorer, Edge 
    scrollbar-width: none;  for Firefox 
    overflow-y: scroll;  */
}

body::-webkit-scrollbar {
    /* display: none; for Chrome, Safari, and Opera */
}

.img-bg {
    width:100%;
    height:100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    object-fit: cover;
    object-position: 0 30%;
}
 
.image {
    justify-content: center;
    position: absolute; 
    width:100%; 
    height:100%;
}


.amazon-icon{
    position: absolute;
    transform: translate(160%, 260%);
    width: 10%;
    cursor: pointer;
    display: none;
}

.coralReef-icon{
    position: absolute;
    transform: translate(730%, 250%);
    width: 11%;
    cursor: pointer;
    display: none;
}

.arctic-icon{
    position: absolute;
    transform: translate(220%, 10%);
    width: 14%;
    display: none;
    cursor: pointer;
    transition: transform .2s;
}

.arctic-icon:hover{
    /* transform: scale(1.5); */
}

.pin{
    width: 3%;
    position: absolute;
    cursor: pointer;
    display: block;
    
}

.map-pin1{ 
    transform: translate(1550%, 170%);

}

.map-pin2{
    transform: translate(1100%, 630%);
}

.map-pin3{
    transform: translate(2450%, 730%);
}

.pin:hover{
    margin-top: -10px;
}

.pin:active {
    /* transform: scale(0.50);
    transform: translateY(4px); */
}

.blinker{
    margin:100px;
    width: 2%;
    height: 4%;
    border-radius: 50%;
    background: #db130cbd;
    box-shadow: 0 0 0 rgba(44, 204, 65, 0.4);
    animation: pulse 2s infinite;
    position: absolute; 
    display: block;
    margin: 0;
}

.blink1{
    transform: translate(2350%, 480%);
}

.blink2{
    transform: translate(1675%, 1425%);
}

.blink3{
    transform: translate(3702%, 1627%);
}

.blinker:hover {
    animation: none;
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(177, 158, 152, 0.4);
        box-shadow: 0 0 0 0 rgba(151, 141, 138, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 30px rgba(204,169,44, 0);
        box-shadow: 0 0 0 30px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}

@media screen and (min-height: 900px) {
    .map-pin1{ 
        transform: translate(1550%, 220%);
        z-index: 1;
    }
    .map-pin2{ 
        transform: translate(1100%, 680%);
        z-index: 1;
    }
    .map-pin3{ 
        transform: translate(2450%, 800%);
        z-index: 1;
    }
    .blinker{
        width: 2%;
        height: 3.5%;
    }
    .blink1{
        transform: translate(2350%, 580%);
    }
    .blink2{
        transform: translate(1675%, 1525%);
    }
    .blink3{
        transform: translate(3702%, 1770%);
    }
    .arctic-icon{
        transform: translate(220%, 25%);
    }
    .amazon-icon{
        transform: translate(160%, 310%);
    }
    
    .coralReef-icon{
        transform: translate(730%, 300%);
    }
}
.btn {
    min-width: 13%;
    min-height: 5.5%;
    font-family: 'Nunito', sans-serif;
    font-size: 90%;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #ffffff;
    border: none;
    border-radius: 100px;
    box-shadow: 12px 12px 24px rgba(211, 211, 211, 0.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: absolute;
    display: none;
    padding: 5px 5px;
    margin: 0;
    z-index: 1;
}

.btn1{
    transform: translate(105%, 1270%);
}

.btn2{
    transform: translate(500%, 1285%);
    padding: 5px 10px;
}

.btn3{
    transform: translate(245%, 520%);
}

.btn::before {
    content: '';
    border-radius: 50px;
    min-width: calc(100% + 12px);
    min-height: calc(100% + 12px);
    border: 2.5px solid #ffffff;
    box-shadow: 0 0 60px rgba(192, 192, 192, 0.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.btn:hover, .btn:focus {
    color: #313133;
    margin-top: -2px;
}

.btn:hover::before, .btn:focus::before {
    opacity: 1;
}

.btn::after {
    content: '';
    width: 100px; height: 30px;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn:hover::after, .btn:focus::after {
    animation: none;
    display: none;
}

/*AMAZON STYLING*/

.container_img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img img {
    width: 100%;
    height: 100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    display: block;
    object-fit: cover;
}

.image1, .image2, .image2-2, .image2-3{
    top: 100%;
}

.image3, .image4, .image5, .image6{
    opacity: 0;
}

.image6{
    cursor: pointer;
}

#box1, #box3, #box4, #box5 {
    left: 3%;
    bottom: 30%;
}

#box2 {
    right: 10%;
    top: 40%;
}

#box3{
    color: rgb(255, 255, 255);
    background-color: rgba(13, 122, 155, 0.9);
    border: 2px solid rgb(255, 255, 255);
}

#box4, #box5{
    color: rgb(255, 255, 255);
    background-color: rgba(143, 81, 11, 0.9);
    border: 2px solid rgb(255, 255, 255);
}

.speechbox {
    font-size: 1.3rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 400px;
    width:fit-content;
    max-width: 600px;
    height:fit-content;
    padding: 30px 30px 30px 40px; 
    display: block;
    position: fixed;
    animation: fadeIn linear 1s;
    color: rgb(0, 0, 0);
    background-color: rgba(176, 228, 236, 0.9);
    border: 2px solid black;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}


/* button 2 */
.trans-btn {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #000000;
    outline-color: #ffffff;
    position: fixed;
    top: 500px;
    left: 51%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: block;
}


.trans-btn:before,
.trans-btn:after {
    content: ''; 
    position: absolute;
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
    border: 0.5px solid #ffffff;
    border-radius: 50%;
}

.trans-btn:before {
    animation: ripple2 3s linear infinite;
}

.trans-btn:after {
    animation: ripple2 3s linear 1s infinite;
}

@keyframes ripple2{
    0% { transform: scale(1); }
    50% { transform: scale(4); opacity:1; }
    100% { transform: scale(8); opacity:0; }
}

.inventory {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    animation: fadeIn linear 1s;
}

#inventory-bg {
    max-width: 18%;
    max-height: 18%;
    position: fixed;
    right: 2%;
    bottom: 2%;
}

.icons {
    width: 16%;
    height: 8%;
    position: fixed;
    right: 3%;
    bottom: 2%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.icon:hover{
    transform: translateY(5px);
    cursor: pointer;
}

#map-icon {
    max-height: 78%;
}

#camera-icon {
    max-height: 58%;
    padding-top: 3%;
}

#teleport-icon {
    max-height: 75%;
    padding-top: 1%;
    /* color: #b45b07;
    filter: drop-shadow(0 0 8px #e4860b);
    cursor: pointer; */
}

#teleport-icon:hover{
    color: #b45b0700;
    filter: drop-shadow(0 0 8px #e4860b00);
}

.lock {
    max-height: 78%;
}

.modal{
    width: 100%;
    position: absolute;
    
}

.yes-btn{
    width: 20%;
    top: 67%;
    left: 38%;
    position: absolute;
}

.yes-btn:hover {
    margin-top: 10px;
    cursor: pointer;
}

#teleport-btn {
    max-height: 75%;
    padding-top: 1%;
    color: #b45b07;
    filter: drop-shadow(0 0 8px #e4860b);
    cursor: pointer; 
}

#teleport-btn:hover {
    filter: drop-shadow(0 0 30px #faf9f4);
    cursor: pointer;
}

.clickable {
    color: #ffa502;
    filter: drop-shadow(0 0 30px #f5d311);
    cursor: pointer;
    z-index: 1;
}

.clickable:hover {
    color: #ffa60207;
    filter: drop-shadow(0 0 30px #f5d31100);
}